<div class="container-fluid">
    <button class="btn btn-danger m-1" (click)='logout()'>Log Out</button>
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card border-0 shadow p-3">
            <div class="form-floating mb-3 text-certer">
                <h5 class="text-certer text-warning">Add or Update Record </h5> 
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="fname">
                <label for="firstname">First name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="lname">
                <label for="lastname">Last name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
                <label for="email">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="accountno" name="accountno" [(ngModel)]="account">
                <label for="accountno">Account no.</label>
              </div>
              <button type="button" class="btn btn-outline-success" (click)="addRecord()">Add record</button>
            </div>
        </div>

        <!-- Table -->
        <div class="col md-8 mt-2">
            <h5 class="text-secondary">Bank Detail List</h5>
            <div class="card p-3 shadow">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Firstname</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Account No.</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let employee of employeeList">
                            <th>{{employee.fname}}</th>
                            <td>{{employee.lname}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.account}}</td>
                            <td>
                                <button class="btn btn-danger m-1" (click)='deleteRecord(employee)'>DELETE</button>
                                <button class="btn btn-primary" (click)='updateRecord(employee)'>UPDATE</button>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

</div>